body {
    font-family: 'Poppins', sans-serif
}

hr {
    border: 0;
    border-top: 1px solid #f1f5f9;
    border-bottom: 1px solid #f1f5f9
}

.hidden {
    display: none
}

#wpcontent {
    background-color: #fff;
    padding-left: 0
}

#wpbody-content {
    padding-bottom: 0
}

#wpfooter, .custom-select-wrapper select{
    display: none;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.surelywp-addons-icon {
    padding-top: 5px;
    margin-right: 20px
}

.custom-option span {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #4C5866;
}

.custom-option,
.custom-options {
    display: block;
    transition: .4s ease-in-out
}

.custom-option,
.custom-options h4 a {
    font-weight: 500;
    color: #4c5866;
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(43, 135, 218, .2);
    box-shadow: 0px 5px 30px 0px #2B87DA33;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 999;
    padding: 20px 15px
}

.custom-options h4 a {
    text-decoration: none
}

.custom-options span.surelywp-icon {
    border-radius: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    top: 0;
    background-color: #F1F5F9;
}

.custom-options span.surelywp-icon img {
    object-fit: contain;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 999;
    max-height: 354px;
    overflow-y: auto;
}

.custom-options h3,
.custom-options h4 {
    padding: 9px 15px;
    margin: 0
}

.custom-option {
    position: relative;
    padding: 5px 15px;
    line-height: 25px;
    cursor: pointer
}

.custom-option .surelywp-icon {
    margin-right: 10px;
    position: relative;
    top: 6px
}

.custom-options h3 {
    margin-bottom: 5px
}

.custom-options h4 {
    margin-top: 5px
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px
}

.custom-option.active,
.custom-option:hover,
body.surelywp-framework-panel #wpbody {
    background: #f1f5f9
}

.custom-select.opened .custom-options::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

.custom-select.opened .custom-options::-webkit-scrollbar-thumb {
    background: #A3B0C2;
    border-radius: 3px;
}

.surelywp-addons-header-panel .custom-options h3,
.surelywp-addons-header-panel .custom-options h4 {
    padding: 0;
    margin: 0
}

.surelywp-addons-header-panel .custom-options h3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.surelywp-addons-header-panel .custom-options {
    padding: 20px
}

.surelywp-addons-header-panel .custom-options .custom-option {
    display: flex;
    margin-bottom: 4px;
    height: 32px;
    padding: 0px 4px;
    align-items: center;
    border-radius: 5px
}

.surelywp-addons-header-panel .custom-options .custom-option .drop-down-plus-icon {
    margin-right: 5px;
}

.surelywp-addons-header-panel .custom-options .custom-option a {
    text-decoration: none;
}

.surelywp-addons-header-panel .custom-options .custom-option:hover a {
    text-decoration: underline;
}

.surelywp-addons-header-panel .custom-options h4 {
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #4c5866;
    text-transform: capitalize;
    margin-top: 12px;
    display: flex;
    gap: 5px;
    padding: 2px 4px;
    align-items: center;
    border-radius: 6px;
}

.surelywp-addons-header-panel .custom-options h4:hover {
    background-color: #F1F5F9;
}

.custom-option.active span.addon-label {
    color: #0066FF;
}

.surelywp-addons-header-panel .custom-option span,
.surelywp-admin-panel-content-wrap .wrap h1 {
    padding: 0
}

.custom-select {
    position: relative;
    display: inline-block
}

.custom-select-trigger .dashicons {
    background-color: #E5EFFF;
    padding: 3px;
    border-radius: 100px
}

.custom-select-trigger {
    position: relative;
    display: flex;
    width: 380px;
    padding: 0;
    font-size: 17px;
    color: #333;
    line-height: 42px;
    background: 0 0;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start
}

.custom-select-trigger strong {
    margin-right: 10px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #1D2327;
    font-size: 18px;
    text-align: center;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%)
}

.surelywp-addons-header-panel .custom-select {
    max-width: 291px
}

.top-sec {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.notify-menu .dropdown-menu::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

.notify-menu .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.notify-menu .dropdown-menu::-webkit-scrollbar-thumb {
    background: #A3B0C2;
    border-radius: 3px;
}

.notify-menu .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notify-menu .dropdown-menu {
    overflow-y: scroll;
    height: 584px;
}

.notify-list li {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    margin-bottom: 15px
}

.notify-list li:last-child {
    padding-bottom: 16px;
}

.notify-list .inner-text-wrap {
    font-size: 14px;
    line-height: 20px;
    color: #1D2327;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.notify-list .inner-text-wrap p {
    margin: 0;
}

.notify-list .purchase-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 12px 5px 8px;
    gap: 2px;
}

.notify-list .purchase-btn img {
    width: 22px;
    height: 22px;
}

.inner-text-wrap i {
    color: #4c5866A3;
    margin-bottom: 6px;
    display: block;
    font-style: normal;
}

.inner-text-wrap p,
.surelywp-admin-panel-content-wrap table.form-table {
    margin-top: 0
}

.nav-tab-wrapper.surelywp-nav-tab-wrapper,
.surelywp-admin-panel-content-wrap table.form-table td {
    padding-top: 0
}

.wrap_surelywp_body h2.nav-tab-wrapper.surelywp-nav-tab-wrapper {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
    position: relative;
    border-bottom: none
}

.wrap_surelywp_body h2.nav-tab-wrapper.surelywp-nav-tab-wrapper.close {
    padding-right: 0
}

.wrap_surelywp_body h2.nav-tab-wrapper.surelywp-nav-tab-wrapper.close ul li label {
    visibility: hidden;
    opacity: 0;
    transition: .4s
}

.wrap_surelywp_body h2.nav-tab-wrapper.surelywp-nav-tab-wrapper.close ul li a.nav-tab {
    width: auto;
    line-height: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    justify-content: center;
    border-radius: 5px
}

.inner-text {
    margin-left: 5px
}

.purchase-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto
}

.purchase-btn {
    background: #06f;
    border: 1px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s all;
}

.marked-read {
    background-color: #F1F5F9;
    border: 1px;
    color: #A3B0C2;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s all;
}

.purchase-btn:hover {
    background: #0056D8;
}

.purchase-btn .dashicons {
    padding-right: 5px
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 382px;
    box-shadow: 0px 5px 30px 0px #2B87DA33;
    padding: 20px 20px 0 20px;
    z-index: 1;
    right: 10px;
    margin-top: 12px;
    border-radius: 5px;
}

.dropdown-menu.active {
    display: block
}

.notify-menu .dropdown-menu h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.earlier-top-border {
    border-top: 2px solid #F1F5F9;
    margin-bottom: 20px;
}

.marked-read img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(6%) saturate(707%) hue-rotate(175deg) brightness(82%) contrast(91%);
}

.marked-read:hover {
    background-color: #E1E7EC;
    color: #4C5866;
}

.marked-read:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(3%) saturate(4939%) hue-rotate(173deg) brightness(93%) contrast(68%);
    transition: all .2s ease;
}

.surelywp-plugin-fw-tab-element span {
    margin-right: 10px
}

.nav-tab.nav-tab-active:focus,
.surelywp-plugin-fw-tabs li a:focus {
    color: #06f
}

.surelywp-plugin-fw-tabs li.surelywp-plugin-fw-tab-element a {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
    border: none;
    box-shadow: none;
    padding-left: 0;
    left: 10px
}

.surelywp-plugin-fw-tabs li.surelywp-plugin-fw-tab-element a label {
    margin-left: 8px;
    margin-bottom: 0;
    cursor: pointer
}

.surelywp-plugin-fw-tabs li.surelywp-plugin-fw-tab-element a .image {
    width: 28px;
    height: 28px
}

.surelywp-plugin-fw-tabs li.surelywp-plugin-fw-tab-element a .image img {
    height: 100%;
    object-fit: contain
}

.close-panel .surelywp-plugin-fw-tab-element span {
    margin-right: 0
}

.close .nav-tab:before,
.nav-tab:after {
    right: 0;
    left: -7px;
    background-color: #E5EFFF;
    position: absolute;
    content: '';
    z-index: -1;
    transition: all .2s ease;
}

.close .nav-tab:hover:before,
.nav-tab:hover::after{
    background-color: #F1F5F9;
}

.close .surelywp-plugin-fw-tabs li a,
.nav-tab.nav-tab-active {
    background-color: transparent
}

.nav-tab:hover img {
    filter: grayscale(1);
}

.nav-tab.nav-tab-active {
    width: 100%;
    color: #06f;
    border-radius: 6px;
    padding: 5px 10px
}

.nav-tab.nav-tab-active label {
    color: #06f;
}

.close .nav-tab.nav-tab-active:after,
.close .nav-tab:after,
.close .nav-tab:hover:after {
    opacity: 0;
    visibility: hidden
}

.close .nav-tab.nav-tab-active:before,
.close .nav-tab:hover:before,
.nav-tab.nav-tab-active:after,
.nav-tab:hover:after {
    opacity: 1;
    visibility: visible
}

.close .nav-tab:before {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden
}

.surelywp-plugin-fw-tabs a.nav-tab .image img {
    filter: grayscale(1);
}

.surelywp-plugin-fw-tabs a.nav-tab.nav-tab-active .image img {
    filter: none
}

.sidebar-wrap .nav-tab-active img{
    filter: none;
}

.nav-tab:after {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden
}

.nav-tab,
.sidebar-wrap {
    position: relative;
    z-index: 1
}

.close .nav-tab:after .close .nav-tab.nav-tab-active:after {
    width: 40px
}

.surelywp-plugin-fw-tabs {
    display: grid;
    width: 200px
}

.surelywp-plugin-fw-tabs li {
    margin-bottom: 4px
}

.surelywp-plugin-fw-tabs li a {
    background-color: #fff;
    border: 1px #f0f8ff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    border-radius: 6px;
    padding: 5px 10px
}

.surelywp-plugin-fw-tabs li label {
    display: initial;
    font-size: 15px;
    opacity: 1;
    visibility: visible;
    transition: .4s
}

.surelywp-addons-header-l {
    display: flex;
    width: 35%;
    align-items: center
}

#success_msg {
    color: green
}

.notify-menu {
    margin-left: 15px;
    margin-right: 7px;
}

.notify-menu:has(.unread-count) {
    margin-right: 17px;
}

.notify-menu .dashicons.dashicons-bell {
    cursor: pointer;
    text-decoration: none
}

.addons-btn-wrap,
.notify-menu a,
.surelywp-options-save {
    position: relative;
    text-decoration: none;
}

.notify-menu a:hover {
    text-decoration: none;
}

.notify-menu span.unread-count {
    position: absolute;
    background-color: #0066FF;
    color: #fff;
    border-radius: 100%;
    font-size: 10px;
    min-height: 15px;
    min-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: -9px
}

.surelywp-options-save img {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    left: 9px
}

.surelywp-options-save .button-primary.surelywp-ric-settings-save:hover,
.surelywp-options-save .button-primary[type=submit]:hover {
    background: #0056d8;
    border-color: #0056d8;
    text-align: center
}

.surelywp-options-save .button-primary,
.surelywp-options-save .button-primary[type=submit] {
    font-weight: 500;
    background: #06f;
    border-color: #06f;
}

.surelywp-options-save .button-primary {
    padding: 0 10px
}

.surelywp-options-save {
    background: #06f;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px
}

.surelywp-options-save .submit [type=submit]:focus {
    box-shadow: none
}

#surelywp-addons-header-panel {
    padding: 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 32px;
    z-index: 9989
}

.surelywp-addons-header-r {
    display: flex;
    align-items: center
}

.dropdown-toggle:focus,
a.surelywp-ric-settings-reset:focus {
    box-shadow: none;
    outline: 0
}

.surelywp-ric-settings-reset img {
    vertical-align: middle
}

a.surelywp-ric-settings-reset {
    text-decoration: none;
    padding: 4px 12px;
    vertical-align: middle;
    color: #A3B0C2;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--background, #f1f5f9);
    min-height: 26px;
}

.surelywp-ric-settings-reset:hover {
    background: #E1E7EC;
    color: #4C5866;
}

.surelywp-ric-settings-reset:hover img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(11%) saturate(844%) hue-rotate(172deg) brightness(91%) contrast(85%);
}

body.surelywp-framework-panel #wpcontent {
    margin-left: 160px
}

body.surelywp-framework-panel a:focus,
body.surelywp-framework-panel a:focus-visible, 
body.surelywp-framework-panel button:focus,
body.surelywp-framework-panel button:focus-visible, 
body.surelywp-framework-panel input:focus-visible,
body.surelywp-framework-panel input:focus, 
body.surelywp-framework-panel .select2-selection__choice:focus,
body.surelywp-framework-panel .select2-selection__choice:focus-visible {
    outline: 0;
    box-shadow: unset;
}

.surelywp-plugin-fw__wrap.wrap {
    margin-top: 0;
    margin-left: 0
}

.wrap_surelywp_body {
    display: flex
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    z-index: 100;
    transition: .5s
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: .3s
}

.sidebar-wrap .inner {
    position: fixed;
    top: 103px;
    display: flex;
    width: 282px
}

.sidebar-wrap:after {
    content: '';
    position: fixed;
    height: 100%;
    width: 255px;
    background-color: #fff;
    z-index: -1;
    border-right: 0px solid #ddd;
    top: 0;
    transition: .4s;
    left: 160px
}

.sidebar-wrap.close-panel::after {
    width: 80px
}

.surelywp-admin-panel-container {
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    width: calc(100% - 310px);
    margin-left: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 40px;
}

.surelywp-admin-panel-container::-webkit-scrollbar {
    display: none
}

.surelywp-content-title {
    text-transform: capitalize
}

.surelywp-content-title h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px
}

.surelywp-body-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 16px 16px 16px 23px;
    border-bottom: 2px solid #f1f5f9;
    margin-bottom: 0;
}

.header-button-wrap {
    display: flex;
    align-items: center;
    gap: 8px
}

p.submit {
    margin: 0;
    padding: 0
}

.overview-page a.button-primary {
    margin-top: 20px
}

.surelywp-field-label h4.heading-text {
    color: #06f;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0
}

.surelywp-field-label .overview-page p {
    color: var(--tertiary, #4C5866);
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px
}

.overview-page h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 2px;
    margin-top: 5px
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap .right-status-text>span,
.surelywp-ric-settings-box .grid-view-wrap .description {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal
}

.surelywp-ric-settings-box .grid-view {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px
}

.surelywp-ric-settings-box .grid-view>div {
    width: calc(50% - 16px);
    padding: 0 8px
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner {
    border: 2px solid #f1f5f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
    height: calc(100% - 16px);
    box-sizing: border-box;
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap .right-status-text .active-text {
    background: #e5faef;
    border-radius: 16px;
    padding: 4px 10px;
    color: #00d263
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap span.in-active-text {
    color: #F12424;
    background: #FEEEE9;
    border-radius: 16px;
    padding: 5px 12px;
    text-align: center;
    line-height: 20px;
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap span.not-install-text {
    color: #A3B0C2;
    background: #f1f5f9;
    border-radius: 16px;
    padding: 4px 10px
}

.surelywp-ric-settings-box .grid-view-wrap h3 {
    margin: 0;
    padding: 10px 0 2px;
    color: #1d2327;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px
}

.surelywp-ric-settings-box .grid-view-wrap .description {
    color: #4C5866;
    padding-bottom: 10px
}

.surelywp-ric-settings-box .addons-btn-wrap a {
    display: inline-flex;
    align-items: center;
    background: #06f;
    font-size: 14px;
    line-height: 19px;
}

.surelywp-ric-settings-box .addons-btn-wrap a img {
    width: 13px;
    height: 24px;
}

.surelywp-ric-settings-box td {
    padding: 10px 0 0
}

.surelywp-ric-settings-box .addons-btn-wrap a:hover, .surelywp-ric-settings-box .addons-btn-wrap a:focus, .surelywp-ric-settings-box .addons-btn-wrap a:focus-visible {
    background-color: #0056d8;
    transition: all .2s ease;
}

.surelywp-ric-settings-box-wrap input.widefat {
    height: 30px;
}

.surelywp-ric-settings-box-wrap {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

.surelywp-ric-settings-box-wrap h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px
}

.surelywp-ric-settings-box-wrap label {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #4C5866
}

.surelywp-ric-settings-box-wrap input.widefat {
    border: 2px solid #f1f5f9;
    border-radius: 6px;
    margin-top: 7px
}

.surelywp-ric-settings-box-wrap input.widefat:focus,
.wp-core-ui select:focus {
    border-color: #06f;
    box-shadow: none
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap .img-wrap {
    width: 50px
}

.surelywp-ric-settings-box .grid-view .grid-view-wrap .inner .header-wrap .img-wrap img {
    border-radius: 6px;
}

.form-control input,
.surelywp-ric-settings-box select {
    font-weight: 500;
    padding: 5px 10px;
    font-size: 13px;
    font-family: Poppins
}

.surelywp-ric-settings-box select {
    border-radius: 6px;
    border: 2px solid #f1f5f9;
    line-height: 20px;
    width: 100%;
    color: #4c5866;
    max-width: 100%;
    margin: 5px 0 0
}

.surelywp-ric-settings-box label {
    cursor: initial
}

.surelywp-plugin-fw .form-control .checkbox-option .surelywp-checkbox{
    border-radius: 4px;
}

.surelywp-list-tab .form-control:last-child {
    margin-bottom: 0;
}

.form-control {
    margin-bottom: 20px
}

.form-control input {
    border-radius: 6px;
    border: 2px solid #f1f5f9;
    background: #fff;
    line-height: 20px;
    color: #4c5866;
}

.form-control .input-label {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 20px;
    color: #1d2327;
    margin-bottom: 2px;
    text-transform: capitalize
}

.form-control code,
.form-control kbd {
    color: #000
}

.surelywp-admin-panel-content-wrap .form-control label {
    margin-bottom: 4px;
    cursor: initial
}

.surelywp-admin-panel-content-wrap {
    max-width: 100%;
    padding: 0;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
}

.surelywp-admin-panel-content-wrap h2 {
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding: 0
}

.surelywp-admin-panel-content-wrap label {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #4C5866;
    display: block;
    margin-bottom: 12px
}

.surelywp-admin-panel-content-wrap .wrap {
    margin: 0
}

.surelywp-admin-panel-content-wrap .success-msg {
    color: #4bb543
}

.dashicons,
.dashicons-before:before {
    border-radius: 5px
}

.dashicons-bell:before {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain
}

.dashicons-bell {
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashicons-bell:before {
    background-image: url(../images/bell-icon.svg);
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
}

.select2-container .select2-search--inline .select2-search__field {
    vertical-align: super
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f1f5f9;
    font-size: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: 2px solid #f1f5f9;
    color: #4c5866;
    border-radius: 6px;
    padding: 5px 30px 5px 10px;
    position: relative;
    margin: 10px 5px
}

.form-control.multi-selection .select2-container--default .select2-selection--multiple,
#add-mime-type-option .select2-container--default .select2-selection--multiple,
#file-type-option .select2-container--default .select2-selection--multiple,
#sp-recipient-email-selection-div .select2-container--default .select2-selection--multiple,
#sp-user-role-selection-div .select2-container--default .select2-selection--multiple,
.user-roles-selection .select2-container--default .select2-selection--multiple,
#surelywp-tk-allowed-user-roles .select2-container--default .select2-selection--multiple,
#surelywp-tk-misc-user-roles-options .select2-container--default .select2-selection--multiple {
    border: 2px solid #f1f5f9;
    padding: 0 0 0 5px;
}

.select2-selection__choice__remove span {
    background: url('../images/close.png') center;
    width: 16px;
    height: 16px;
    display: block;
    font-size: 0;
    padding-top: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    right: 5px;
    font-size: 28px;
    left: auto
}

.checkout-sync-btn-wrap .sc-checkout-sync-btn {
    background-color: #0066FF;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.checkout-sync-btn-wrap .sc-checkout-sync-btn:hover {
    background-color: #0056D8;
}

.mce-tooltip-n .mce-tooltip-arrow {
    top: 1px;
}

.change-log>ul {
    display: flex;
    flex-wrap: wrap;
}

.change-log>ul>li {
    width: 11%
}

.change-log>ul>li:last-child {
    width: 80%
}

.change-log>ul>li>ul>li {
    list-style: disc
}

.toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    width: 40px
}

.toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.toggleSwitch label,
.toggleSwitch>span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle
}

.toggleSwitch input:focus+label,
.toggleSwitch input:focus~a {
    outline: 0
}

.toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%
}

.toggleSwitch input,
.toggleSwitch>span span {
    z-index: 5;
    position: absolute;
    opacity: 0
}

.toggleSwitch>span {
    position: absolute;
    left: -50px;
    width: 100%;
    padding-right: 50px;
    text-align: left
}

.toggleSwitch>span span {
    display: block;
    margin-left: 50px;
    text-align: left;
    font-size: .9em;
    width: 100%;
    left: 15%;
    top: -2px
}

.toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    padding: 0;
    left: 5px;
    border-radius: 100px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    width: 18px;
    height: 18px;
    top: 2px;
}

.toggleSwitch>span span:first-of-type {
    color: #A3B0C2;
    opacity: 1;
    left: 45%
}

.toggleSwitch>span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #f1f5f9;
    border-radius: 30px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out
}

.toggleSwitch input:checked~a {
    border-color: #fff;
    left: 100%;
    margin-left: 0
}

.toggleSwitch input:checked~span:before {
    border-color: #06f;
    box-shadow: inset 0 0 0 30px #06f
}

.toggleSwitch input:checked~span span:first-of-type {
    opacity: 0
}

.toggleSwitch input:checked~span span:last-of-type {
    opacity: 1;
    color: #fff
}

.toggleSwitch.large {
    width: 60px;
    height: 27px
}

.toggleSwitch.large a {
    width: 27px
}

.toggleSwitch.large>span {
    height: 29px;
    line-height: 28px
}

.toggleSwitch.large input:checked~a {
    left: 41px
}

.toggleSwitch.large>span span {
    font-size: 1.1em
}

.toggleSwitch.large>span span:first-of-type,
.toggleSwitch.xlarge>span span:first-of-type {
    left: 50%
}

.toggleSwitch.xlarge {
    width: 54px;
    height: 24px;
    margin-top: 10px
}

.toggleSwitch.xlarge>span {
    height: 26px;
    line-height: 27px;
    cursor: pointer
}

.toggleSwitch.xlarge input:checked~a {
    left: 30px
}

.toggleSwitch.xlarge>span span {
    font-size: 11px
}

@media (max-width:991px) {
    .surelywp-ric-settings-box .grid-view>div {
        width: 100%
    }

    .surelywp-admin-panel-container {
        overflow: auto
    }

    .surelywp-addons-header-l {
        flex-wrap: wrap;
        width: 100%
    }

    body.surelywp-framework-panel #wpcontent {
        padding-left: 0;
    }

    .surelywp-plugin-fw__wrap.wrap {
        margin-right: 0
    }

    a.surelywp-ric-settings-reset {
        font-size: 12px
    }
}

@media (max-width:960px) {
    .sidebar-wrap:after {
        left: 36px;
        width: 100%;
        border: none
    }

    .sidebar-wrap:after {
        display: none
    }

    .wrap_surelywp_body h2.nav-tab-wrapper.surelywp-nav-tab-wrapper {
        width: 100%;
        height: auto;
        padding: 0;
        border: none;
        background-color: #fff
    }

    .wrap_surelywp_body {
        flex-direction: column;
        height: auto
    }

    .surelywp-admin-panel-container {
        margin-left: 0;
        margin-right: 0;
        overflow: initial;
        height: auto;
        width: 100%;
        margin-bottom: 20px
    }

    .sidebar-wrap .inner {
        position: initial;
        width: 100%
    }

    body.surelywp-framework-panel #wpcontent {
        margin-left: 0;
        padding: 0
    }

    .wrap_surelywp_body li.surelywp-plugin-fw-tab-element {
        width: 100%;
        display: inherit
    }

    .wrap_surelywp_body li.surelywp-plugin-fw-tab-element a.nav-tab {
        width: 91%;
        display: inline-flex;
        margin: 0 auto
    }

    .custom-select-trigger,
    .surelywp-addons-icon,
    .wrap_surelywp_body .surelywp-plugin-fw-tabs {
        width: 100%
    }

    .surelywp-options-save input#submit {
        margin: 0
    }

    .surelywp-body-content-header,
    .surelywp-ric-settings-box-wrap {
        flex-wrap: wrap
    }

    .surelywp-admin-panel-content-wrap,
    .surelywp-licensekey-wrap .surelywp-admin-panel-content-wrap {
        padding-left: 15px;
        padding-right: 15px
    }

    #wpbody-content {
        padding-left: 30px;
        box-sizing: border-box
    }

    .surelywp-framework-panel #wpbody-content {
        padding-left: 30px;
        box-sizing: border-box;
        float: none;
    }
}

@media screen and (max-width:782px) {
    body.surelywp-framework-panel #wpcontent {
        margin-left: 0
    }
}

@media (max-width:767px) {
    #wpbody-content {
        padding-left: 0
    }

    .wrap_surelywp_body li.surelywp-plugin-fw-tab-element a.nav-tab {
        width: 88%
    }

    a.surelywp-ric-settings-reset {
        font-size: 10px;
        padding: 6px 5px
    }

    .wp-admin #surelywp-addons-header-panel {
        top: 0
    }

    .custom-select-trigger {
        font-size: 14px
    }
}

.addons-btn-wrap.surelywp-import-export-btn a {
   min-height: 34px;
    align-items: center;
    display: flex;
    font-size: 13px;
    background: #0066ff;
    border-color: #0066ff;
    font-weight: 500;
    padding: 4px 12px 4px 6px;
    border-radius: 8px;
    gap: 2px;
    line-height: 19px;
    transition: all .2s ease;
}


.addons-btn-wrap.surelywp-import-export-btn a:hover {
background:#0056d8;
}

.import-export-tab button.button-primary[type=submit]:hover, .import-export-tab button.button-secondary[type=submit]:hover{
    background: #0056d8;
}

.addons-btn-wrap a.button-primary:focus,
.surelywp-options-save .button-primary.surelywp-ric-settings-save:focus {
    background: #0056d8;
    box-shadow: none;
    border-color: #0056d8;
}