.surelywp-surecart-triggers {
    max-height: 600px;
    overflow-y: auto;
}

.surelywp-surecart-triggers .fc_trigger_right_col .fc_choice_row .fc_choice_block:nth-child(n+3) .fc_choice_card.fc_trigger_selected .fc_pro_ribbon {
    background: #f5f5f5 !important;
    color: #0066ff !important;
}

.surelywp-surecart-triggers .fc_trigger_right_col .fc_choice_row .fc_choice_block:nth-child(n+3) .fc_choice_card .fc_pro_ribbon {
    background-color: #0066ff !important;
}

.surelywp-surecart-triggers .fc_trigger_right_col .fc_choice_row .fc_choice_block:nth-child(n+3) .fc_choice_card:hover {
    border: 1px solid #0066ff !important;
}

.surelywp-surecart-triggers .fc_trigger_right_col .fc_choice_row .fc_choice_block:nth-child(n+3) .fc_choice_card.fc_trigger_selected {
    background: #0066ff !important;
    border-color: #0066ff !important;
}

.surelywp-surecart-triggers .fc_trigger_right_col .fc_choice_row .fc_choice_block:nth-child(n+3) .fc_choice_card.fc_trigger_selected h3 i {
    color: #0066ff !important;
}

.fc-icon-surelywp-logo::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../images/surelywp-logo.svg');
    background-size: cover;
}

.css-wzxb7d .components-flex.components-card__footer.components-card-footer.css-gogc1z.e19lxcc00 {
    flex-wrap: wrap;
}

.css-2jjstt .surelywp-fc-profile-btn{
    margin-top: 10px;
}