#wp-admin-bar-surelywp-tk-ql-surecart-default #wp-admin-bar-tk-submenu-dashboard::after,
#wp-admin-bar-surelywp-tk-ql-surecart-default #wp-admin-bar-tk-submenu-customers::after,
#wp-admin-bar-surelywp-tk-ql-surecart-default #wp-admin-bar-tk-submenu-custom-forms::after {
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    display: block;
    content: "";
    margin: 8px 0px 8px 0px;
}

#wp-admin-bar-surelywp-tk-ql-surecart-default #wp-admin-bar-tk-submenu-settings {
    margin-bottom: 5px;
}

#wp-admin-bar-tk-submenu-sc-upsell-funnels .awaiting-mod {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    margin: 1px 0 -1px 2px;
    padding: 0 5px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    color: #fff;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
    z-index: 26;
}